.show {
  width: 400px;
  border: 1px solid grey;
}
.show img {
  width: 400px;
  height: 533px;
  padding-bottom: 2px;
}
.show button {
  width: 100%;
  background-color: black;
  color: white;
  padding: 12px 0px;
  border: none;
  /* border-radius: 2px; */
}
.show button:hover {
  background: #0d89db;
}
